{% extends 'frontend/dashboard_base.html' %}
{% load static i18n %}

{% block content %}
<div>
    <div class="mb-3 mt-3">
        <h4 class="text-center">Order Analysis</h4>
        <canvas id="order-status-chart" width="200" height="70"></canvas>
    </div>
    <div class="mb-3 mt-3">
        <h4 class="text-center">Payment Analysis</h4>
        <canvas id="payment-status-chart" width="200" height="70"></canvas>
    </div>
    <div class="mb-3 mt-3">
        <h4 class="text-center">Revenue Analysis</h4>
        <canvas id="revenue-chart" width="200" height="70"></canvas>
    </div>
</div>
<div class="crancy-table-meta mg-top-30">
  <div class="row">
    <div class="col-md-6 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">Total Orders</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount">{{ total_orders }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                  <!-- {{ active_percent|floatformat:2 }}% -->
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Sum Total of your total orders</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
    <div class="col-md-6 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">Total Revenue</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount">&#8358 {{ total_revenue|floatformat:0 }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                  <!-- {{ expired_percent|floatformat:2 }}% -->
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Total revenue of goods bought</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
    <div class="col-md-6 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">Total Payment</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount">&#8358 {{ total_payments|floatformat:0 }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                  <!-- {{ expired_percent|floatformat:2 }}% -->
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Total payments made</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
    <div class="col-md-6 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">Pending Orders</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount"> {{ pending_orders }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                  <!-- 100% -->
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Total Number of pending orders</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
    <div class="col-md-6 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">Shipped Orders</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount">{{ shipped_orders }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Total number of shipped orders</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
    <div class="col-md-6 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">Delivered Orders</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount">{{ delivered_orders }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Total number of delivered orders</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
    <div class="col-md-6 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">Cancelled Orders</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount">{{ cancelled_orders }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Total number of Cancelled orders</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
    <div class="col-md-6 col-12 mg-top-30">
        <!-- Progress Card -->
        <div class="crancy-ecom-card crancy-ecom-card__v2">
          <div class="crancy-ecom-card__heading">
            <div class="crancy-ecom-card__icon">
              <h4 class="crancy-ecom-card__title">Processing Orders</h4>
            </div>
          </div>
          <div class="crancy-ecom-card__content">
            <div class="crancy-ecom-card__camount">
              <div class="crancy-ecom-card__camount__inside">
                <h3 class="crancy-ecom-card__amount">{{ processing_orders }}</h3>
                <span
                  class="crancy-progress-card__percent crancy-color1"
                >
                  <svg
                    class="crancy-color1__fill"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                    ></path>
                    <path
                      opacity="0.4"
                      d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                    ></path>
                  </svg>
                </span>
              </div>
              <p class="crancy-ecom-card__adesc">
                <span class="crancy-bcolor">Total number of Processing orders</span>
              </p>
            </div>
          </div>
        </div>
        <!-- End Progress Card -->
    </div>
  </div>
{% endblock %}

{% block extra_js %}
    <script>
        const csrftoken = "{{csrf_token}}"
        const ctx = document.getElementById('order-status-chart').getContext('2d');
        const pending_orders = "{{ pending_orders }}";
        const shipped_orders = "{{ shipped_orders }}";
        const delivered_orders = "{{ delivered_orders }}";
        const cancelled_orders = "{{ cancelled_orders }}";
        const processing_orders = "{{ processing_orders }}";
        const pending_payments = "{{ pending_payments }}";
        const paid_payments = "{{ paid_payments }}";
        const refunded_payments = "{{ refunded_payments }}";

        // Order status chart
        const chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Processing','Pending', 'Shipped', 'Delivered', 'Cancelled'],
                datasets: [{
                    label: 'Orders',
                    data: [processing_orders, pending_orders , shipped_orders, delivered_orders, cancelled_orders],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        
        // Revenue chart
        $.ajax({
                type:'GET',
                context:this,
                url:"{% url 'account:user_revenue' %}",
                beforeSend: function(request){
                    request.setRequestHeader("X-CSRFToken", csrftoken);
                },
                data:{csrfmiddlewaretoken: csrftoken},
                success:function(response){
                    months = response["order_data"].map(item => item.month);
                    revenues = response["order_data"].map(item => item.revenue);
                    const ctx2 = document.getElementById('revenue-chart').getContext('2d');
                    const chart2 = new Chart(ctx2, {
                        type: 'bar',
                        data: {
                            // labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                            labels: months,
                            datasets: [{
                                label: 'Revenue',
                                // data: [1000, 2000, 3000, 5000, 6000, 4000, 8000, 5000],
                                data: revenues,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                error: function(response){
                    
                }
        })

        const ctx3 = document.getElementById('payment-status-chart').getContext('2d');
        const chart3 = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: ['Paid', 'Not Paid', 'Refunded'],
                datasets: [{
                    label: 'Payments Analysis',
                    data: [paid_payments, pending_payments, refunded_payments],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}